body {
    background-color: #ECECEC;
}

@media (max-width: 600px;) {
    
}

h1, h3, p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 36px;
}

.header {
    display: grid;
    grid-template-areas: 
    "" "title" ""
    "searchBar" "searchBar" "searchBar";
}