body {
    background-color: #ECECEC;
    width: 438px;
}

h1, h3, p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 36px;
}

.header {
    height: 153px;
    width: 428px;
    display: grid;
    grid-template: repeat(2, 3fr);
    grid-template-areas: 
    "title title title"
    "searchBar searchBar locationButton";
}

.title {
    grid-area: title;
    text-align: center;
}

.searchBar {
    grid-area: searchBar;
    height: 44px;
    width: 346px;
    border: none;
    font-size: 20px;
    margin: 0 0 0 21px;
    border-radius: 12px;
}

.searchButton {
    grid-area: locationButton;
    height: 44px;
    width: 42px;
}
/*index page css*/
#ukBackground {
    height: 438px;
    width: 357px;
    margin: 0 0 0 21px;
}

.ukMap p{

    padding-right: ;
    width: max-content;
    font-size: 20;

}

.ediDiv {
    position: absolute; 
    top: 262px;
    left: 245px;
    display: flex;
    flex-wrap: nowrap;

    background-color: #FFFFFF;
    border: #FFFFFF;
    border-style: solid;
    border-radius: 12px;

    display: inline-block;

}

#edinburgh {

    display: inline-block;

}


#ediWeatherIcon {

    display: inline-block;
    vertical-align: middle;
    
    height: 20px;
    width: 20px; 
    padding-top: 0;
}

.ncldiv {
    position: absolute; 
    top: 330px;
    left: 290px;   

    display: flex;
    flex-wrap: nowrap;

    background-color: #FFFFFF;
    border: #FFFFFF;
    border-style: solid;
    border-radius: 12px;

    display: inline-block;

}

#newcastle {

    display: inline-block;

}


#nclWeatherIcon {

    display: inline-block;
    vertical-align: middle;
    
    height: 20px;
    width: 20px; 
    padding-top: 0;
}

.manDiv {
    position: absolute; 
    top: 410px;
    left: 150px;

    display: flex;
    flex-wrap: nowrap;

    background-color: #FFFFFF;
    border: #FFFFFF;
    border-style: solid;
    border-radius: 12px;

    display: inline-block;

}

#manchester {

    display: inline-block;

}


#manWeatherIcon {

    display: inline-block;
    vertical-align: middle;
    
    height: 20px;
    width: 20px; 
    padding-top: 0;
}

.londonDiv {
    position: absolute; 
    top: 480px;
    left: 295px;  

    display: flex;
    flex-wrap: nowrap;

    background-color: #FFFFFF;
    border: #FFFFFF;
    border-style: solid;
    border-radius: 12px;

    display: inline-block;

}

#london {

    display: inline-block;

}


#londonWeatherIcon {

    display: inline-block;
    vertical-align: middle;
    
    height: 20px;
    width: 20px; 
    padding-top: 0;
}

.indexCards {
    width: 386px;
    display: grid;
    grid-template: repeat(12, auto);
    grid-template-areas: 
    "miniUV miniPollen"
    "miniWeather miniWeather"
    "miniFlood miniFlood"
    "uv uv"
    "uv uv"
    "pollen pollen"
    "pollen pollen"
    "weather weather"
    "weather weather"
    "flood flood"
    "flood flood";
}

#miniUV {
    grid-area: miniUV;

    height: 114px;
    width: 180px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px 10px 10px 21px;

    text-align: center;
    font-size: 20px;
    font-weight: medium;
}

.grow {
    transform: scale(1.5);
}

#miniUV img {
    height: 63px;
    width: 63px;
    margin-top: -20px;
}

#miniPollen {
    grid-area: miniPollen;

    height: 114px;
    width: 180px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px 0 10px 10px;

    text-align: center;
    font-size: 20px;
    font-weight: medium;
}

#miniPollen img {
    height: 63px;
    width: 63px;
    margin-top: -20px;
}

#miniWeather {
    grid-area: miniWeather;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    font-size: 20px;

    height: 51px;
    width: 387px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px 0 10px 21px;
}

#miniWeather img {
    height: 42px;
    width: 40px;
    margin-right: 38px;
}


#miniFlood {
    grid-area: miniFlood;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    font-size: 20px;

    height: 51px;
    width: 387px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px 0 10px 21px;
}

#miniFlood img {
    height: 42px;
    width: 40px;
    margin-right: 38px;
}

#uv {
    grid-area: uv;

    height: 204px;
    width: 387px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px 0 10px 21px;

    text-align: center;
    font-size: 20px;
    font-weight: medium;
}

#uv img {
    height: 63px;
    width: 63px;
    margin-top: 13px;
}

#pollen {
    grid-area: pollen;

    height: 204px;
    width: 387px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px 0 10px 21px;

    text-align: center;
    font-size: 20px;
    font-weight: medium;
}

#pollen img {
    height: 63px;
    width: 63px;
    margin-top: 13px;
}

#weather {
    grid-area: weather;

    height: 204px;
    width: 387px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px 0 10px 21px;

    text-align: center;
    font-size: 20px;
    font-weight: medium;
}

#weather img {
    height: 63px;
    width: 63px;
    margin-top: 13px;
}

#flood {
    grid-area: flood;

    height: 204px;
    width: 387px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px 0 10px 21px;

    text-align: center;
    font-size: 20px;
    font-weight: medium;
}

#flood img {
    height: 63px;
    width: 63px;
}

/*city page css*/

.cityName {
    text-align: center;
    margin: 10px 0 10px 21px;

    font-size: 24px;
    font-weight: 200;
}

.cityTempGraph {

    height: 363px;
    width: 387px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px 0 10px 21px;
}

.cityCards {

    width: 386px;
    display: grid;
    grid-template: repeat(8, auto);
    grid-template-areas: 
    "uv uv"
    "uv uv"
    "pollen pollen"
    "pollen pollen"
    "weather weather"
    "weather weather"
    "flood flood"
    "flood flood";

}